$mainbg: rgb(55, 50, 50);
$t-color: rgb(7, 162, 7);
$h-color: lightgray;

.row {

    .news {
        border-right: 1px solid black;
    }

    .col {
        background-color: white;
        height: 25vh;
        color: black;
        overflow: auto;
    }
}

header {
    background-color: $h-color;

    h1 {
        margin: 0 auto;
    }
}

nav {
    background-color: $h-color;
    border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray;

    ul {

    li {
        border-right: 2px solid darkgray;
        margin-left: 0;
    }
}

}

.main {
    background-color: $mainbg;
    color: $t-color;

    h2 {
        text-align: center;
        text-transform: capitalize;
        margin-top: 10px;
    }
}

.likes {
    text-transform: capitalize;

    th {
        color: $t-color;
        text-align: center;
        font-size: 20px;
    }

    td {
        color: $t-color;
    }
}

.datetime {
    margin-bottom: 90px;

    #datebtn {
        text-transform: capitalize;
    }

    p {
        margin-bottom: 0;
    }
}

footer {
    background-color: $h-color;
    padding: 5px;

    p {
        margin-top: 10px;
    }
}