@import "reset";

$border: 2px solid black;
$border2: 2px solid darkgray;
$bc: green;
$bc2: rgb(49, 46, 46);
$bc3: lightgray;
$color: rgb(9, 177, 9);
$linkC: black;
$Fsize: 15px;
$tshadow: 2px 2px 2px black;
$ffamily: "Courier New";
$ffamily2: "Times New Roman";

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-size: $Fsize;
    font-family: $ffamily2;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: $bc3;

    h1 {
        margin: 0 auto;
        font-size: 50px;
        text-transform: capitalize;
    }
}

nav {
    border-top: $border2;
    border-bottom: $border2;
    background-color: $bc3;
    
    ul {
        list-style-type: none;
        display: flex;

        li {
            border-right: $border2;
            text-transform: capitalize;
            

            a {
                text-decoration: none;
                display: block;
                padding: 10px;
                color: $linkC;
                font-size: 15px;
            }

            a:hover {
                background-color: $linkC;
                color: $color;
               
            }

        }
    }
}

.row {
    display: flex;

    .column {
        border-right: $border;
        width: 50%;
        height: 25vh;
        overflow: auto;
        background-color: white;
        color: #000;
        margin-left: 10px;
        padding: 10px;
    
        h3 {
            text-align: center;
            text-decoration: underline;
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 20px;
            text-transform: capitalize;
        }

        h4 {
            color: blue;
            margin-bottom: 10px;
            text-transform: capitalize;
        }
    }
}


.content {
    display: flex;
    flex-direction: column;
    flex: 1;

    main {
        background-color: $bc2;
        color: $color;
        flex: 1;

        h3 {
            text-transform: capitalize;
            font-size: 30px;
            margin-bottom: 20px;
        }

        .main-cont {
            margin: 50px;

            .datetime {

                #datebtn {
                    margin-bottom: 20px;
                    text-transform: capitalize;
                }

                p {
                    margin: 0;
                }
            }

            img {
                height: 150px;
                width: 250px;
                margin-bottom: 20px;
            }
            .claire {
                height: 400px;
                width: 200px;
            }

            .farron {
                height: 300px;
                width: 450px;
            }

            .leli {
                height: 350px;
                width: 450px;
            }

            .AW {
                
                    height: 350px;
                    width: 450px;

            }

            a {
                img {
                    margin-left: 50px;
                }
            }
        }

        h2 {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 30px;
            text-transform: capitalize;
        }

        p {
            margin-bottom: 20px;
        }
    }
}

.games {

    img {
        padding-bottom: 20px;
    }

    h3 {
        padding-bottom: 20px;
        text-transform: capitalize;
        font-size: 30px;
    }

    p {
        padding-bottom: 20px;
    }
}

.movies {

    img {
        padding-bottom: 20px;
    }

    h3 {
        padding-bottom: 20px;
        text-transform: capitalize;
        font-size: 30px;
    }

    p {
        padding-bottom: 20px;
    }
}


.likes {
    border: 2px solid rgb(9, 177, 9);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 700px;
    text-transform: capitalize;

     tr {
        border: 2px solid rgb(9, 177, 9);

        th {
            border: 2px solid rgb(9, 177, 9);
            padding: 10px;
            font-size: 20px;
        }

        td {
            border: 2px solid rgb(9, 177, 9);
            padding: 10px;
            
        }
     }

     caption {
        font-size: 15px;
        caption-side: bottom;
     }
}

.gallery {

    tr {
       td {
        padding: 20px;

        img {
            height: 200px;
            width: 250px;
        }

       }
    }
}

.email {

    background-color: $bc3;
    padding: 20px;
    color: #000;
    border: 5px double black;

    label {
        margin-right: 10px;
        text-transform: capitalize;
    }

    .message {
        display: flex;
    }

    .name {
        margin-left: 15px;
    }

    .sub {
        margin-left: 5px;
    }

    .send {
        margin-left: 70px;
        text-transform: capitalize;
        cursor: pointer;
    }

    .send:hover {
        background-color: $linkC;
        color: $color;
    }

    .clear {
        text-transform: capitalize;
        cursor: pointer;
    }

    .clear:hover {
        background-color: $linkC;
        color: $color;
    }

    .e-mail {
        margin-left: 15px;
    }

}


#KWorld {
    cursor: pointer;
    transition: 0.3s;
}

#KWorld:hover {
    opacity: 10%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-img {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

.modal-img, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
 
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

footer {
    padding: 10px;
    background-color: $bc3;

    p {
        text-align: center;
        text-transform: capitalize;
    }
}

.blog {


    h3 a {
        color: blue;
        text-decoration: none;
    }

    h3 a:hover {
        text-decoration: underline;
    }

    .profile {
        font-size: 10px;
        display: flex;
        justify-content: space-between;     
    }

    .post-text {
        color: black;
    }

   .me {
    color: blue;
    text-transform: capitalize;
    margin-right: 10px;
   }

   .post {
    margin-bottom: 50px;
    background-color: white;
    padding: 10px;

    display: grid;
    grid-template-columns: 1.5fr 4fr;
   }

   time {
    color: black;
   }

}

@media screen and (max-width: 620px) {
    .container {
      max-width: 100%;
      height: auto;
      margin: auto;
    }

    img, table {
        max-width: 100%;
    }

    .logo {
        display: none;
    }
}  

@media only screen and (max-width: 700px){
    .modal-img {
      width: 100%;
    }
  }