html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 15px;
  font-family: "Times New Roman";
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: lightgray;
}
header h1 {
  margin: 0 auto;
  font-size: 50px;
  text-transform: capitalize;
}

nav {
  border-top: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
  background-color: lightgray;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav ul li {
  border-right: 2px solid darkgray;
  text-transform: capitalize;
}
nav ul li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: black;
  font-size: 15px;
}
nav ul li a:hover {
  background-color: black;
  color: rgb(9, 177, 9);
}

.row {
  display: flex;
}
.row .column {
  border-right: 2px solid black;
  width: 50%;
  height: 25vh;
  overflow: auto;
  background-color: white;
  color: #000;
  margin-left: 10px;
  padding: 10px;
}
.row .column h3 {
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: capitalize;
}
.row .column h4 {
  color: blue;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.content main {
  background-color: rgb(49, 46, 46);
  color: rgb(9, 177, 9);
  flex: 1;
}
.content main h3 {
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 20px;
}
.content main .main-cont {
  margin: 50px;
}
.content main .main-cont img {
  height: 150px;
  width: 250px;
  margin-bottom: 20px;
}
.content main .main-cont .claire {
  height: 400px;
  width: 200px;
}
.content main .main-cont .farron {
  height: 300px;
  width: 450px;
}
.content main .main-cont .leli {
  height: 350px;
  width: 450px;
}
.content main .main-cont .AW {
  height: 350px;
  width: 450px;
}
.content main .main-cont a img {
  margin-left: 50px;
}
.content main h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: capitalize;
}
.content main p {
  margin-bottom: 20px;
}

.games img {
  padding-bottom: 20px;
}
.games h3 {
  padding-bottom: 20px;
  text-transform: capitalize;
  font-size: 30px;
}
.games p {
  padding-bottom: 20px;
}

.movies img {
  padding-bottom: 20px;
}
.movies h3 {
  padding-bottom: 20px;
  text-transform: capitalize;
  font-size: 30px;
}
.movies p {
  padding-bottom: 20px;
}

.likes {
  border: 2px solid rgb(9, 177, 9);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 700px;
  text-transform: capitalize;
}
.likes tr {
  border: 2px solid rgb(9, 177, 9);
}
.likes tr th {
  border: 2px solid rgb(9, 177, 9);
  padding: 10px;
  font-size: 20px;
}
.likes tr td {
  border: 2px solid rgb(9, 177, 9);
  padding: 10px;
}
.likes caption {
  font-size: 15px;
  caption-side: bottom;
}

.gallery tr td {
  padding: 20px;
}
.gallery tr td img {
  height: 200px;
  width: 250px;
}

.email {
  background-color: lightgray;
  padding: 20px;
  color: #000;
  border: 5px double black;
}
.email label {
  margin-right: 10px;
  text-transform: capitalize;
}
.email .message {
  display: flex;
}
.email .name {
  margin-left: 15px;
}
.email .sub {
  margin-left: 5px;
}
.email .send {
  margin-left: 70px;
  text-transform: capitalize;
  cursor: pointer;
}
.email .send:hover {
  background-color: black;
  color: rgb(9, 177, 9);
}
.email .clear {
  text-transform: capitalize;
  cursor: pointer;
}
.email .clear:hover {
  background-color: black;
  color: rgb(9, 177, 9);
}
.email .e-mail {
  margin-left: 15px;
}

footer {
  padding: 10px;
  background-color: lightgray;
}
footer p {
  text-align: center;
  text-transform: capitalize;
}/*# sourceMappingURL=style.css.map */